<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/all_style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<title>FAQs - SmartAdvising</title>
	</head>
	
	<body>
		<div class="navbar">
			<nav>
				<a href="queue.html">Waiting Room</a>
				<a href="faq.html">FAQ</a>
				<a href="signed_out.html">Sign Out</a>
			</nav>
		</div>
		
		<h1> Frequently Asked Questions </h1>
		<div class="faq">
			<ol id="list">
				<li> Question </li>
				<p> Answer </p>
			</ol>
		</div>
	</body>