<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/all_style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<title>Sign Out</title>
	</head>
	
	<body>
		<div class="navbar">
			<nav>
				<a href="faq.html">FAQ</a>
				<a href="login.html">Login</a>
			</nav>
		</div>
		
		<h1> SmartAdvising </h1>
		<div class="signedOut">
			<h2> You are now signed out </h1>
			<p> For security purposes, please close this window </p>
		</div>
	</body>
</html>