<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/all_style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<title>Waiting Room - SmartAdvising</title>
	</head>
	
	<body>
		<div class="navbar">
			<nav>
				<a href="queue.html">Waiting Room</a>
				<a href="faq.html">FAQ</a>
				<a href="signed_out.html">Sign Out</a>
			</nav>
		</div>
		
		<div class="header">
			<h1> SmartAdvising </h1>
			<h2> Virtual Waiting Room </h2>
		</div>
		
		<div class="box">
			<div class="addToQ">
				<h2>Add yourself to the queue</h2>
				<button type='submit'>Add</button>
			</div>
			
			<div class="waiting">
				<p>You are th in line</p>
				<p>Your estimated wait is  minutes</p>
			</div>
		</div>
	</body>
</html>